@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: #f6f6f7 #d2d2d7;
}

.dark {
  scrollbar-width: normal;
  scrollbar-color: white #242535;
}
