ul>li>a{
    margin-left: 10px;
}
li>a.active{
    background: white !important;
    color: #3B3C4A !important;
    border-bottom: 2px solid #3B3C4A;
    border-radius: 0;
    font-weight: 500;
}
ul>li>a:hover{
    background: white !important;
    color: #3B3C4A !important;
    border-bottom: 2px solid #3B3C4A;
    border-radius: 0;
}

li>a.active{
    background: white !important;
    color: #3B3C4A !important;
    border-bottom: 2px solid #3B3C4A;
    border-radius: 0;
    font-weight: 500;
}